/* Main dividers */
.divider {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.divider-title {
    flex: 1;
    font-size: 1.2em;
    font-weight:bold;
    font-size:28px;
}

.divider-icon {
    font-size: 1.5em;
}

.divider-left {
        flex: 1;
        font-size: 14px;
}

.divider-right {
    font-size: 14px;
}

/* Button */
.download-button {
    padding: 6px 10px; /* Padding */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 14px; /* Large font size */
    border-radius: 4px; /* Rounded corners */
}

/* Add hover effect */
.download-button:hover {
background-color: #ddd;
}

/* Line between subheadings */
.rule {
        height: 2px;
        background-color: #333;
        width: 100%;
}

/* Subheadings with dates on left and right */
.divider-left-subheader {
        float: left;
        font-weight: bold;
        font-size: 20px;
}

.divider-right-date {
        float: right;
        font-weight: lighter;
}

/* Description box for job experiences */
.job_description {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #444;
}

.job_description::before {
    content: "summary"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 10px; /* Space between the text and the note box */
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block; /* make it a block level element */
}

/* Description box for Schools/educations */
.UCSD_description_cw {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #444;
}

.UCSD_description_cw::before {
    content: "Coursework"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 10px; /* Space between the text and the note box */
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block; /* make it a block level element */
}

.UCSD_description_ah {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #444;
}

.UCSD_description_ah::before {
    content: "Honors/Achievements"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 10px; /* Space between the text and the note box */
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block; /* make it a block level element */
}

/* Mulitcolumn lists */
ul.flex-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}
li.flex-listi {
    width: 30%;
}

/* Skills and langauges */
.divider_skills {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.divider_skills_right{
    flex: 1;
}

.divider_skills_left{
    flex: 1;
}


.others_desc_box {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    color: #444;
}


.others_desc_rating {
    background-color: #f9f9f9;
    padding: 5px;
    font-size:14px;
    line-height: 35px;
    flex-basis: 110px;
    text-align: right;
}

.others_desc_box::before {
    content: "Others:"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 5px; /* Space between the text and the note box */
    text-transform: uppercase;
    display: block; /* make it a block level element */
}

.ML_desc_box {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    color: #444;
}

.ML_desc_rating {
    background-color: #f9f9f9;
    padding: 5px;
    font-size:14px;
    line-height: 35px;
    flex-basis: 110px;
    text-align: right;
}

.ML_desc_box::before {
    content: "Machine Learning:"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 5px; /* Space between the text and the note box */
    text-transform: uppercase;
    display: block; /* make it a block level element */
}

.programming_desc_box {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    color: #444;
}

.programming_desc_rating {
    background-color: #f9f9f9;
    padding: 5px;
    font-size:14px;
    line-height: 35px;
    flex-basis: 110px;
    text-align: right;
}

.programming_desc_box::before {
    content: "Programming Languages:"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 5px; /* Space between the text and the note box */
    text-transform: uppercase;
    display: block; /* make it a block level element */
}

.writing_desc_box {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    color: #444;
}

.writing_desc_rating {
    background-color: #f9f9f9;
    padding: 5px;
    font-size:14px;
    line-height: 35px;
    flex-basis: 110px;
    text-align: right;
}

.writing_desc_box::before {
    content: "Markdown/Writing:"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 5px; /* Space between the text and the note box */
    text-transform: uppercase;
    display: block; /* make it a block level element */
}

.data_science_desc_box {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    color: #444;
}

.data_science_desc_box::before {
    content: "Data Science:"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 5px; /* Space between the text and the note box */
    text-transform: uppercase;
    display: block; /* make it a block level element */
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
  }
  
.tag-cell {
    padding: 5px;
    margin: 5px;
}

.tag-shading {
background-color: #f0f0f093;
}

/* Languages */
.English_desc_box {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 13px;
    color: #444;
}

.English_desc_rating {
    background-color: #f9f9f9;
    padding: 5px;
    font-size:14px;
    line-height: 35px;
    flex-basis: 150px;
    text-align: right;
}

.English_desc_box::before {
    content: "English"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 5px; /* Space between the text and the note box */
    text-transform: uppercase;
    display: block; /* make it a block level element */
}

.Chinese_desc_box {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 13px;
    color: #444;
}

.Chinese_desc_rating {
    background-color: #f9f9f9;
    padding: 5px;
    font-size:13px;
    line-height: 35px;
    flex-basis: 170px;
    text-align: right;
}

.Chinese_desc_box::before {
    content: "Chinese"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 5px; /* Space between the text and the note box */
    text-transform: uppercase;
    display: block; /* make it a block level element */
}

.Malay_desc_box {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 13px;
    color: #444;
}

.Malay_desc_rating {
    background-color: #f9f9f9;
    padding: 5px;
    font-size:14px;
    line-height: 35px;
    flex-basis: 180px;
    text-align: right;
}

.Malay_desc_box::before {
    content: "Bahasa Malaysia (Malay)"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 5px; /* Space between the text and the note box */
    text-transform: uppercase;
    display: block; /* make it a block level element */
}

.Hokkien_desc_box {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    color: #444;
}

.Hokkien_desc_rating {
    background-color: #f9f9f9;
    padding: 5px;
    font-size:14px;
    line-height: 35px;
    flex-basis: 170px;
    text-align: right;
}

.Hokkien_desc_box::before {
    content: "Hokkien (Chinese/Mandrin Dialect)"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 5px; /* Space between the text and the note box */
    text-transform: uppercase;
    display: block; /* make it a block level element */
}

.japanese_desc_box {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    color: #444;
    flex-direction: left;
}

.japanese_desc_box::before {
    content: "Japanese"; /* The text that will be displayed before the note box */
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 5px; /* Space between the text and the note box */
    text-transform: uppercase;
    display: block; /* make it a block level element */
}

.japanese_desc_rating {
    background-color: #f9f9f9;
    padding: 5px;
    font-size:14px;
    line-height: 35px;
    flex-basis: 170px;
    text-align: right;
}

.interest {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    color: #444;
}

.interest::before {
    font-weight: bold; /* Make the text bold */
    color: rgb(171, 167, 167); /* Change the color of the text */
    margin-right: 5px; /* Space between the text and the note box */
    text-transform: uppercase;
    display: block; /* make it a block level element */
}